form{
  
    padding-top: 10px;
}

.submitSaloon {
    padding-top: 3.2%;
}

h2 {
    font-weight: lighter;
}

h1 {
    font-weight: 400;
}

.addedCustomer{
    overflow-y: scroll;
    overflow: auto;
    overflow-x: hidden;
    height: 50vh;
}